.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
}
.sidebarLink{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 16.46%;
    cursor: pointer;
    
}
.sidebarLink img{
    height: 24px;
    margin-bottom: 4px;

}
.sidebarLink div{
    font-family: Roboto , Arial;
    font-size: 10px;

}
.sidebarLink:hover{
    background-color: rgb(235,235,235);
}